body {
  background-color: #f9f9f9;

  &.mobile-no-scroll {
    @media only screen and (max-width: 450px) {
      overflow: hidden;
    }
  }
}

.bh-app {
  font-family: "Assistant", cursive;
}

.bh-app .ltr input {
  direction: ltr !important;
}
.vertical-spacer {
  flex: 1;
}

@media only screen and (min-width: 768px) {
  .page-content-container {
    width: 768px;
    display: flex;
    align-self: center;
    flex-direction: column;
  }
}
