@import "src/vars";

.numOfSiblings label {
  padding-right: 10px;
}

.numOfSiblings input {
  padding-left: 10px;
  width: 30%;
  direction: ltr;
}

.siblings-container {
  border-bottom: 1px solid $secondary-color;
  padding-bottom: 5px;
  margin-top: 30px;

  .siblings-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    color: rgb(83, 83, 84);
    padding-right: 10px;
    padding-left: 10px;
    color: $font-and-borders-color;

    .siblings-buttons {
      display: flex;
      justify-content: flex-end;
      direction: ltr;
      width: 30%;

      .number-of-siblings {
        width: 50px;
        text-align: center;
      }

      button {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        font-size: 18px;
        color: white;
        background-color: $base-color;
        //background-image: linear-gradient(to right, #238f9c, #37b9c9);
        border: 0.5px solid darkgray;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 18px;
        text-shadow: 1px 1px 2px gray;
        box-shadow: 1px 1px 2px gray;

        &.disabled-button {
          background-color: #b3b2b2;
          cursor: not-allowed;
          background-image: none;
        }
      }

    }
  }
}

.vertical-space {
  margin-top: 20px;
}
.sharedChildrenLabel {
  display: flex;
  padding-right: 10px;
  align-items: center;
  color: #000000;
  font-size: 22px;
  font-family: 'ploni-bold';
  justify-content: space-between;
  padding-left: 10px;
}

.sharedChildrenDifferentFamilyButton {
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  text-decoration: none;
  text-align: center;
  background-color: #FFFFFF;
  width: 360px;
  height: 49px;
  line-height: 49px;
  cursor: pointer;
  font-size:20px;
  font-family: 'ploni-bold';
  border: 2px solid #2814FF;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: 400px) {
    width: 80%;
    font-size: 16px;
  }
}

.sharedChildrenDifferentFamilyLabel {
  text-align: center;
  padding-top: 2rem;
  &:focus {
    outline-width: inherit;
  }
}
