.verification-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.verification-body {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.verification-message {
  color: rgb(83, 83, 84);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
}

.verification-message3 {
  color: rgb(83, 83, 84);
  text-align: center;
  margin-top: 20px;
}

.verification-code-input label {
  color: #feab3f;
}

.verification-form {
  padding-left: 10px;
  padding-right: 10px;
}

.verification-cta {
  margin-bottom: 30px;
}
