.person-details-inner-container {
  padding-right: 10px;
  padding-left: 10px;
}

.person-details-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: 2px solid #000000;
  height: 150px;
  position: relative;
  font-family: 'ploni-regular';
}

.person-details-header span {
  font-size: 22px;
  color: #000000;
  padding-bottom: 10px;
  font-family: 'ploni-bold';
}

.person-details-header label {
  color: #000000;
  font-size: 18px;
  text-decoration: underline;
  z-index: 1;
  line-height: 35px;

}

.gender {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  border-bottom: 1px solid #000000;
}

.gender .gender-options, .gender label {
  line-height: 35px;
  color: #000000;
  font-family: 'ploni-bold';
}

[dir=ltr] .gender-options-buttons label {
  margin-left: 10px;
  margin-right: 0;
  color: #000000;
}

.gender-options-buttons label {
  color: #000000;
  font-size: 18px;
  margin-right: 10px;
  font-family: 'ploni-regular';
}

.gender-options-buttons .gender-text {
  color: #000000;
  font-size: 18px;
  padding-left: 10px;
}

.gender-options {
  font-size: 20px;
  color: rgb(83, 83, 84);
  @media only screen and (max-width: 400px) {
    font-size: 16px;
  }
}

.alive-checkbox {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  border-bottom: 1px solid #000000;
  font-family: 'ploni-bold';
}

.alive-checkbox label {
  color: #000000;
  font-size: 20px;
  padding-left: 10px;
  line-height: 35px;
  @media only screen and (max-width: 400px) {
  font-size: 16px;
  }
}

[dir=ltr] .alive-checkbox label {
  padding-left: 0;
  padding-right: 10px;
}

.alive-checkbox input {
  margin-top: 12px;
}


