.date-input-container .DayPickerInput {
  width: 50%;
  line-height: 35px;
}

.date-input-container .date-input .DayPickerInput-OverlayWrapper {
  line-height: normal;
  position: absolute;
  left: 0;
  top: 37px;
}

.date-input-container {
  font-size: 20px;
  color: rgb(83, 83, 84);
  border-bottom: 2px solid #cccbcb;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.date-input-container .DayPickerInput-Overlay {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: darkslategray;

  abbr {
    color: #c95644;
  }

  .calendar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 411px) {
      border-radius: 10px;
      background-color: white;
    }
  }
}

@media only screen and (max-width: 411px) {
  .date-input-container .DayPickerInput-Overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(222, 221, 221, 0.9);
  }
}

.date-input-container.invalid {
  border-color: red;
}

.date-input-container.invalid input.date-input-input {
  color: red;
}


.date-input-container .overlay-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bolder;
  margin-top: 25px;
  color: black;
  min-width: 300px;
}

.date-input-container .overlay-input input[type=number]::-webkit-inner-spin-button,
.date-input-container .overlay-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.date-input-container .overlay-input input[type=number] {
  -moz-appearance:textfield;
}

.date-input-container .overlay-input .date-input-separator {
  width: 100%;
  position: relative;
  text-align: center;
  color: black;
}

.date-input-container .overlay-input .date-input-separator:before {
  content: ' ';
  position: relative;
  width: 80%;
  height: 2px;
  background-color: black;
  display: block;
  top: 12px;
  margin: auto;
  z-index: -2;
}

.date-input-container .overlay-input .date-input-separator:after {
  content: ' ';
  width: 16%;
  position: absolute;
  height: 16px;
  background: white;
  display: block;
  z-index: -1;
  top: 4px;
  left: 42%;
  color: black;
}

.date-input-container .overlay-input .year-only-input-text {
  margin-bottom: 10px;
  margin-top: 5px;
  color: black;
}

.date-input-container .overlay-input .year-only-input-text {}

.date-input-container .overlay-input button {
  margin-bottom: 15px;
  margin-right: 10px;
}

.date-input-container label {
  line-height: 35px;
}

.date-input-container input.date-input-input {
  border: 0;
  outline: none;
  width: 100%;
  background-color: #f9f9f9;

  text-align: left;
  color: darkgrey;
  font-size: 18px;
  font-family: "Assistant", serif ;
}

.date-input-container input.date-input-input:-webkit-autofill,
.date-input-container input.date-input-input:-webkit-autofill:hover,
.date-input-container input.date-input-input:-webkit-autofill:focus,
.date-input-container input.date-input-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f9f9f9 inset !important;
  -webkit-text-fill-color: darkgrey !important;
}

.date-input-container input.date-input-input::placeholder {
  color: darkgrey;
  opacity: 1;
}

.date-input-container input.date-input-input:-ms-input-placeholder {
  color: darkgrey;
}

.date-input-container input.date-input-input::-ms-input-placeholder {
  color: darkgrey;
}

.invalid-input-feedback {
  font-size: 12px;
  color: red;
  position: absolute;
  bottom: -18px;
  right: 0;
}

.year-input {
  direction: rtl;
}

#year-input-error-message {
  color: red;
  font-size: 14px;
  margin-top: -7px;
}

.DayPicker-Caption select {
  margin: 0 5px;
}

#day-picker-close-button {
  border: none;
  font-size: 24px;
  position: absolute;
  right: -10px;
  top: 0;
  cursor: pointer;
  background-color: transparent;
  color: darkgray;

  @media only screen and (max-width: 411px) {
    font-size: 36px;
    color: black;
    border-radius: 50%;
    right: 0;
    top: 10px;
    width: 36px;
    height: 36px;
  }
}

.date-input {
  display: flex;
  justify-content: flex-start;
  direction: ltr;
  align-items: center;
  color: darkgrey;
  opacity: 1;

  button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .year-input button {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-left: 10px;
  }

  .date-calendar {
    margin-left: 10px;
  }
}

.DayPicker {

}
