input.image-input {
  display: none;
}

.image-input-container {
  width: 128px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'ploni-bold';
  label {
    color: #000000;
  }
}

.image-location {
  width: 128px;
  height: 128px;
  background-size: 128px 128px;
  background-position: center;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #000000;
  position: absolute;
  z-index: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-location .high-image {
  width: 128px;
}

.image-location .wide-image {
  height: 128px;
}
