/*--base-color: #2814FF;*/
/*--econdary-color: #000000;*/

.pre-submittion-text {
  text-align: center;
  font-size: 22px;
  padding-top: 20px;
  padding-bottom: 100px;
  color: #000000;
}

.choose-option {
  display: flex;
  justify-content: space-evenly;
}

.choose-option button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option-button {
  border: none;
  width: 150px;
  height: 60px;
  line-height: 54px;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 360px) {
  .option-button {
    font-size: 24px;
    width: 100px;
    height: 50px;
  }
}
.option-yes {
  background-color: #2814FF;
  font-family: 'anomalia-regular';
}

.option-no {
  background-color: #2814FF;
  font-family: 'anomalia-regular';
}

.family-tree-submit-body {
  padding-left: 20px;
  padding-right: 20px;
}

.family-tree-submit-container {
  display: flex;
  flex-direction: column;
}
