.home-page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-page-body {
  flex: 1;
  background-color: #feab3f;
  background-image: linear-gradient(to bottom right, #fe9d1f, #fec171);
  padding-top: 45px;
  font-family: unset;
  display: flex;
  flex-direction: column;
}

.home-header {
  border-bottom: 7px solid #37b9c9;
  text-align: center;
}

.home-header .bh-logo {
  width: 210px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.welcome-message {
  color: #fff;
  text-align: center;
  font-size: 18px;
}

.welcome-message .part1 {
  font-size: 20px;
}

.welcome-message .part2 {
  font-size: 26px;
}

.welcome-message .part2-inner {
  font-weight: bold;
}

.welcome-explanation {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
}

.welcome-disclaimer {
  text-align: center;
  font-size: 18px;
  color: #604118;
}

.welcome-cta {
  margin-top: 58px;
  margin-bottom: 30px;
}
