@import 'src/vars';

.home-page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-page-body {
  flex: 1;
  background-color: #EFEFEF;
  padding-top: 45px;
  display: flex;
  flex-direction: column;

}

.home-header {
  border-bottom: 7px solid $base-color;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;

  @media screen and (max-width: 768px){
    justify-content: center;
    display: flex;
  }
}

.languageButton {
  position: absolute;
  right: 0;
  top: 0;

  [dir=rtl]  & {
    right: 0;
    top: 0;
    padding-right: 0;
    img {
      height: 4rem;
    }
  }
}

.home-header .bh-logo {
  width: 210px;
  margin-top: 30px;
  margin-bottom: 20px;

  @media screen and (max-width: 768px){
    padding-left: 10px;

    [dir=rtl] & {
      padding-left: 0;
      padding-right: 10px;
    }
  }
}

.welcome-message {
  color: $font-and-borders-color;
  text-align: center;
  font-size: 18px;
}

.welcome-message .part1 {
  font-size: 20px;
}

.welcome-message .part2 {
  font-size: 26px;
}

.welcome-message .part2-inner {
  font-weight: bold;
  font-family: 'anomalia-regular';
}

.welcome-explanation {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 18px;
}

.welcome-disclaimer {
  text-align: center;
  font-size: 18px;
  color: $font-and-borders-color;
  //margin-bottom: 20px;
}

.welcome-cta {
  margin-top: 58px;
  margin-bottom: 30px;
}

