.text-input-container {
  font-size: 20px;
  color: rgb(83, 83, 84);


  border-bottom: 1px solid #000000;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media only screen and (max-width: 400px) {
  .text-input-container{
    font-size: 16px;
  }
  .text-input-container input::placeholder {
    font-size: 16px;
  }
}

.text-input-container.invalid {
  border-color: red;
}

.text-input-container.invalid input {
  color: red;
}

.text-input-container label {
  line-height: 35px;
  color: #000000;
  font-family: 'ploni-bold';
}

.text-input-container input {
  border: 0;
  outline: none;
  width: 50%;
  background-color: #f9f9f9;

  text-align: left;
  color: darkgrey;
  font-size: 18px;
  font-family: 'ploni-regular';
}

[dir=ltr] .text-input-container input {
  text-align: right;
}

.text-input-container input:-webkit-autofill,
.text-input-container input:-webkit-autofill:hover,
.text-input-container input:-webkit-autofill:focus,
.text-input-container input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f9f9f9 inset !important;
  -webkit-text-fill-color: darkgrey !important;
}

.text-input-container input::placeholder {
  color: #000000;
  opacity: 1;
}

.text-input-container input:-ms-input-placeholder {
  color: #000000;
}

.text-input-container input::-ms-input-placeholder {
  color: #000000;
}

.invalid-input-feedback {
  font-size: 12px;
  color: red;
  position: absolute;
  bottom: -18px;
  right: 0;
}
