.bh-app .proceed-button {
  text-shadow: 1px 1px 2px gray;
  box-shadow: 1px 1px 2px gray;

  margin-left: auto;
  margin-right: auto;
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 34px;
  text-align: center;

  border: none;
  background-color: #37b9c9;
  background-image: linear-gradient(to right, #238f9c, #37b9c9);
  width: 360px;
  height: 54px;
  line-height: 54px;
  border-radius: 10px;

  /*outline: none;*/
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
  .bh-app .proceed-button {
    width: 80%;
  }
}

.bh-app .proceed-button.disabled {
  background-color: #b3b2b2;
  background-image: none;
  cursor: not-allowed;
}
