.family-tree-footer {
  margin-top: 35px;
  margin-bottom: 30px;
}
.progress-scale {
  display: flex;
}

.progress-scale .level {
  height: 30px;
  width: 25%;
  background-color: #b3b2b2;
  color: white;
  text-align: center;
  font-size: 20px;
  border-left: white 1px solid;
}

.progress-scale .level.active {
  background-color: #37b9c9;
}

.family-tree-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.family-tree-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
