$base-color: #2814FF;

.family-tree-footer {
  margin-top: 35px;
  margin-bottom: 30px;
}
.progress-scale {
  display: flex;
}

.progress-scale .level {
  height: 30px;
  width: 25%;
  background-color: $base-color;
  color: white;
  text-align: center;
  font-size: 20px;
  border-left: white 1px solid;
}

.progress-scale .level.active {
  background-color: $base-color !important;
}

.family-tree-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.family-tree-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;


  .mandatory-fields-message {
    padding-right: 10px;
  }
}

.page-content-container {
}
