.register-page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.register-cta {
  margin-bottom: 30px;
}

.register-body {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.register-user {
  font-size: 30px;
  color: #000000;
  margin-bottom: 30px;
  padding-right: 10px;
  color: #2814ff;
}

.mandatory-fields-register {
  font-size: 18px;
  color: #000000;
}

[dir="ltr"] .register-user {
  padding-right: 0;
  padding-left: 10px;
}

.register-form {
  padding-left: 10px;
  padding-right: 10px;
}

.user-checkbox {
  margin-top: 10px;
}

.accept-conditions-full,
.accept-declaration {
  margin-right: 5px;
  font-size: 18px;
  color: #000000;
}

.user-checkbox .accept-conditions {
  text-decoration: underline;
  color: #000000;
}

.register-disclaimer {
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 20px;
  color: #000000;
  text-align: center;
}

input.invalid {
  border: 1px solid red !important;
}

.phone-input-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 20px;
  color: #000000;
  border-bottom: 1px solid #000000;
}

@media only screen and (max-width: 400px) {
  .phone-input-container {
    font-size: 16px;
    /*justify-content: unset;*/
  }
}

.phone-input-container label {
  line-height: 35px;
}

.phone-input-container.invalid {
  border-color: red;
}

.phone-input-container label {
  font-family: "ploni-bold";
}

.phone-input-container .PhoneInput {
  direction: ltr;
  width: 50%;
  flex-direction: row;
}

[dir="ltr"] .phone-input-container .PhoneInput {
  flex-direction: row-reverse;
}

.phone-input-container .PhoneInput .PhoneInputInput {
  border: 0;
  outline: none;
  background-color: #f9f9f9;
  color: #000000;
  font-size: 18px;
  font-family: "ploni-regular";
  text-align: left;
}

[dir="ltr"] .phone-input-container .PhoneInput .PhoneInputInput {
  text-align: right;
}

.PhoneInputCountry {
  margin-right: 5px;
  font-family: "ploni-regular";
}

[dir="ltr"] .PhoneInputCountry {
  margin-right: 0;
  margin-left: 5px;
}

.phone-input-container.invalid .PhoneInput .PhoneInputInput {
  color: red;
}

.phone-input-container input:-webkit-autofill,
.phone-input-container input:-webkit-autofill:hover,
.phone-input-container input:-webkit-autofill:focus,
.phone-input-container input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f9f9f9 inset !important;
  -webkit-text-fill-color: darkgrey !important;
}

.phone-input-container input::placeholder {
  color: #000000;
  opacity: 1;
}

@media only screen and (max-width: 400px) {
  .phone-input-container input::placeholder {
    font-size: 16px;
  }
  .phone-input-container .PhoneInput {
    width: 60%;
  }
}

.phone-input-container input:-ms-input-placeholder {
  color: darkgrey;
}

.phone-input-container input::-ms-input-placeholder {
  color: darkgrey;
}

.mandatory-field-indicator {
  color: #000000;
  /*color: red;*/
  padding-left: 0.3rem;
}

.mandatory-fields-message {
  color: red;
  margin-top: 25px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.declaration {
  color: #2814ff;
  font-size: 26px;
  margin-top: 27px;
}

.declaration-list {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  /* padding-inline-start: 1.2rem; */
}

.declaration-list-item {
  font-weight: normal;
}

.declaration-list li:not(:first-child) {
  margin-top: 1rem;
}
