.register-page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.register-cta {
  margin-bottom: 30px;
}

.register-body {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.register-user {
  font-size: 30px;
  color: #000000;
  margin-bottom: 30px;
  padding-right: 10px;
}

[dir=ltr] .register-user {
  padding-right: 0;
  padding-left: 10px;
}

.register-form {
  padding-left: 10px;
  padding-right: 10px;
}

.user-checkbox {
  margin-top: 10px;
}

.accept-conditions-full {
  margin-right: 5px;
  font-size: 18px;
  color: #000000;
}

.user-checkbox .accept-conditions {
  text-decoration: underline;
  color: #000000;
}

.register-disclaimer {
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 20px;
  color: #000000;
  text-align: center;
}

input.invalid {
  border: 1px solid red !important;
}

.phone-input-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 20px;
  color: #000000;
  border-bottom: 1px solid #000000;
}

.phone-input-container label {
  line-height: 35px;
}

.phone-input-container.invalid {
  border-color: red;
}

.phone-input-container label {

}

.phone-input-container .PhoneInput {
  direction: ltr;
  width: 50%;
  flex-direction: row;
}

[dir=ltr] .phone-input-container .PhoneInput {
  flex-direction: row-reverse;
}


.phone-input-container .PhoneInput .PhoneInputInput {
  border: 0;
  outline: none;
  background-color: #f9f9f9;
  color: #000000;
  font-size: 18px;
  font-family: "Assistant", cursive;
  text-align: left;
}

[dir=ltr] .phone-input-container .PhoneInput .PhoneInputInput {
  text-align: right;
}

.PhoneInputCountry {
  margin-right: 5px;
}

[dir=ltr] .PhoneInputCountry {
  margin-right: 0;
  margin-left: 5px;
}

.phone-input-container.invalid .PhoneInput .PhoneInputInput {
  color: red;
}

.phone-input-container input:-webkit-autofill,
.phone-input-container input:-webkit-autofill:hover,
.phone-input-container input:-webkit-autofill:focus,
.phone-input-container input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f9f9f9 inset !important;
  -webkit-text-fill-color: darkgrey !important;
}

.phone-input-container input::placeholder {
  color: #000000;
  opacity: 1;
}

.phone-input-container input:-ms-input-placeholder {
  color: darkgrey;
}

.phone-input-container input::-ms-input-placeholder {
  color: darkgrey;
}

.mandatory-field-indicator {
  color: red;
}

.mandatory-fields-message {
  color: red;
  margin-top: 25px;
}
