.register-page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.register-cta {
  margin-bottom: 30px;
}

.register-body {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.register-user {
  font-size: 30px;
  color: rgb(83, 83, 84);
  margin-bottom: 30px;
  padding-right: 10px;
}

.register-form {
  padding-left: 10px;
  padding-right: 10px;
}

.user-checkbox {
  margin-top: 20px;
}

.accept-conditions-full {
  margin-right: 5px;
  font-size: 18px;
  color: rgb(83, 83, 84);
}

.user-checkbox .accept-conditions {
  text-decoration: underline;
  color: rgb(83, 83, 84);
}

.register-disclaimer {
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 20px;
  color: rgb(83, 83, 84);
  text-align: center;
}

input.invalid {
  border: 1px solid red !important;
}
