.family-tree-thanks-body {
  display: flex;
  flex-direction: column;
}

.text-first-part {
  font-size: 22px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #37b9c9;
  background-image: linear-gradient(to right, #238f9c, #37b9c9);
  padding-top: 10px;
  padding-bottom: 40px;
  color: white;
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%);
}

.bh-logo {
  width: 50%;
  text-align: center;
}

.bh-logo-class {
  display: flex;
  justify-content: center;
}

.information-boxes-upper {
  display: flex;
  justify-content: space-evenly;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
}

.upper-right-box {
  background-color: #199cac;
  margin-left: 20px;
}

.upper-left-box {
  background-color: #ffb658;
}

.highlight {
  font-weight: bolder;
}

.information-boxes-lower {
  display: flex;
  justify-content: space-evenly;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.lower-right-box {
  background-color: #7590cf;
  margin-left: 20px;
}

.lower-left-box {
  background-color: #db6158;
}

.information-bar-body {
  padding-left: 20px;
  padding-right: 20px;
  /* border-bottom: 1px grey solid; */
}

.information-bar {
  font-size: 24px;
  padding: 10px 10px 10px 10px;
  border-top: 1px grey solid;
}

.information-box {
  width: 45%;
  border: hidden;
  border-radius: 5px;
  color: white;
  font-size: 22px;
  text-align: center;
  padding-top: 30px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}

.information {
  padding-top: 20px;
}
