.family-tree-thanks-body {
  display: flex;
  flex-direction: column;
}

.text-first-part {
  font-size: 18px;
  background-color: #EFEFEF;
  //background-image: linear-gradient(to right, #238f9c, #37b9c9);
  padding: 10px 10px 40px;
  color: #000000;
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%);

.thank-you-page-highlight {
    font-weight: bolder;
  }
}

.bh-logo {
  width: 50%;
  text-align: center;
}

.bh-logo-class {
  display: flex;
  justify-content: center;
}

.information-boxes-upper {
  display: flex;
  justify-content: space-evenly;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
}

.upper-right-box {
  background-color: #000000;
  margin-left: 20px;

  [dir=ltr] & {
    margin-left: 0;
    margin-right: 20px;
  }
}

.upper-left-box {
  background-color: #000000;
}

.highlight {
  font-weight: bolder;
}

.information-boxes-lower {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 20px 30px;
}

.lower-right-box {
  background-color: #2814FF;
  margin-left: 20px;

  [dir=ltr] & {
    margin-left: 0;
    margin-right: 20px;
  }
}

.lower-left-box {
  background-color: #2814FF;
}

.information-bar-body {
  padding-left: 20px;
  padding-right: 20px;
}

.information-bar {
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  border-top: 1px grey solid;
}

.information-box {
  width: 45%;
  border: hidden;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 30px 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}

.information {
  padding-top: 20px;
}

a {
  text-decoration: none;
}

.line-style {
  border-bottom: 1px #e3e3e4 solid;
  padding-bottom: 10px;
  font-weight: bolder;
}

.share-link-container {
  display: flex;
  margin-bottom: 30px;
}

.share-link-container button {
  margin-right: 10px;

  [dir=ltr] & {
    margin-right: 0;
    margin-left: 10px;
  }
}

.share-link-container a {
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin-right: 15px;
}

.share-link {
  width: 20px;
  height: 20px;
  padding-right: 3px;
}

.credits {
  text-align: center;
  font-size: 18px;
  font-family: "ploni-regular";
  font-style: italic;
  margin-top: 3rem;
  padding-bottom: 20px;
  @media only screen and (max-width: 400px) {
    text-align: left;
    margin-top: 2rem;
    padding-left: 30px;
    font-size: 16px;
  }
  [dir=rtl] & {
    direction: rtl;
    text-align: center;
    padding-right: 30px;
    font-family: "ploni-regular";
    font-style: italic;
    @media only screen and (max-width: 400px) {
      margin-top: 2rem;
      font-size: 16px;
      text-align: right;
    }
  }
}
