.progress-scale {
  display: flex;
}

.progress-scale .level {
  height: 30px;
  width: 25%;
  background-color: #b3b2b2;
  color: white;
  text-align: center;
  font-size: 20px;
  border-left: white 1px solid;
}

.progress-scale .level.active {
  background-color: #37b9c9;
}

.motherParentsTitle, .motherGrandParentsTitle {
  color: black;
  font-size: 20px;
  line-height: 35px;
  padding-right: 10px;
  padding-top: 10px;
}

.motherParentsTitle, .motherGrandParentsTitle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.parentsLabel {
  display: flex;
}
